body{
  background-color: antiquewhite;
}
.top-section{
  width:100%;
}
.text{
  margin-top:5%;
  margin-left:1%;
}
.title{
  font-size:3vw;
  max-width:100%;
}
.description{
  font-size:25px;
}
.subtitle{
  font-size:30px;
}
.app-store {
  max-width:40%;
}
.container{
  box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
  background: rgba(255, 255, 255, 0.90);
  text-align: center;
  border-radius: 40px;
  overflow: hidden;
  margin: 5em auto;
  height: 500px;
  width: 400px; 
}

.cards, .top-section{
  display:flex;
}




  